*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

::selection {
    background-color: green;
    color: white;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(bg.jpeg);
    background-attachment: fixed;
}

body {
    box-sizing: border-box;
    padding: 3rem;    
}

.container {
    width: 70%;
    margin: 0 auto;
    background: rgba(255, 255, 255, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 5rem;
    border-radius: 1.5rem;
}



h3, h4 {
    padding-bottom: .5rem;
    padding-top: 1rem;
}

h3 {
    color: darkgreen;
    font-size: 2rem;
}


h4 {
    color: green;
    font-size: 1.4rem;
}

p, li {
    font-size: 1.3rem;
    line-height: 2rem;
}

ul {
    padding-left: 2rem;
}

li {
    list-style-type: none;
}

li:before {
    content: '\021D2';
    margin-left: -20px;
    margin-right: 8px;
    color: green;
}
    

li:last-child {
    margin-bottom: 2rem;
}

.clear { clear: both; }

.addr {
    background-color: aquamarine;
    width: 90%;
}

.photo  img{
    width: 15rem;
    float: left;
    border-radius: .5rem;    
    transition: .2s ease;
}

.photo img:hover {
    transform: translateY(.3rem);
    box-shadow: 1px 2px 4px #000;
}


address {
    font-size: 1.5rem;
    float: right;
    margin: 2rem 0;
}

.pstate {
    width: 95%;
    margin-bottom: 2rem;
}

.pstate p {
    
}

ul li {
    
}